<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Add a new car</h1>
      <%= simple_form_for(@car) do |f| %>
        <%= f.input :name %>
        <%= f.input :brand %>
        <%= f.input :year %>
        <%= f.submit "Create car", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


