<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Add review for <%= @car.name%></h1>
      <%= simple_form_for [@car, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Create review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
